{% load static %}


<li>
    <article class="post">
        <a href="{% url "post-detail-page" "the-mountains" %}">
            <img src="" alt="Mountain Hiking" />
            <div class="post_content">
                <h3>Mountain Hiking</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quaerat quibusdam, enim
                    rerum id non, atque quam nam doloribus ipsam possimus aut sapiente veniam, at sit.
                    Laudantium facere rem ducimus.</p>
            </div>
        </a>
    </article>
</li>