{% extends 'base.html' %}
{% block title  %}
My Blog
{% endblock  %}

{% block content %}
<header id="main-navigation">
    <h2><a href="">Azamat's Blog</a></h2>
    <nav>
        <a href="">All Posts </a>
    </nav>
</header>

<section id="welcome">
    <header>
        <img src="" alt="Azamat - The Author pf this Blog">
    </header>
    <p>Hi, I am Azamat and It is my Blog website </p>
</section>
<section>
    <h2>My Latest Thoughts</h2>
    <ul>
        <li></li>
    </ul>
</section>
{% endblock  %}