{% extends 'base.html' %}
{% load static %}
{% block title  %}
My Blog
{% endblock  %}
{% block css_file %}
<link rel="stylesheet" href={%static "blog/index.css"%} />
{% endblock  %}

{% block content %}
<header id="main-navigation">
    <h2><a href="">Azamat's Blog</a></h2>
    <nav>
        <a href="">All Posts </a>
    </nav>
</header>

<section id="welcome">
    <header>
        <img src="{%static "blog/images/aa.jpg"%}" alt="Azamat - The Author pf this Blog">
    </header>
    <p>Hi, I am Azamat and It is my Blog website </p>
</section>
<section>
    <h2>My Latest Thoughts</h2>
    <ul>
        <li>
            <article class="post">
                <a href href="">
                    <img src="" alt="Mountain Hiking" />
                    <div class="post_content">
                        <h3>Mountain Hiking</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quaerat quibusdam, enim
                            rerum id non, atque quam nam doloribus ipsam possimus aut sapiente veniam, at sit.
                            Laudantium facere rem ducimus.</p>
                    </div>
                </a>
            </article>
        </li>
    </ul>
</section>

<section id="about">
    <h2>What I Do</h2>
    <p>I love programming, I love to help others and I enjoy exploring new technologies in general</p>
    <p>Lorem</p>
</section>
{% endblock  %}